<a href="https://colab.research.google.com/github/michael-young-30/Python_Basketball/blob/main/data_munging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
%pip install nba_api

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nba_api
  Downloading nba_api-1.1.14-py3-none-any.whl (254 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 254.9/254.9 KB 9.4 MB/s eta 0:00:00
Collecting numpy<2.0.0,>=1.22.2
  Downloading numpy-1.24.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 70.2 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from nba_api) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (4.0.0)
Installing collected packages: numpy, nba_api
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scipy 1.7.3 requires numpy<1.23.0,>=1.16.5, but you have numpy 1.24.1 which is incompatible.
numba 0.56.4 requires numpy<1.24,>=1.18, but you have numpy 1.24.1 which is incompatible.
Successfully installed nba_api-1.1.14 numpy-1.24.1

In [3]:
from nba_api.stats import endpoints

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data=endpoints.leagueleaders.LeagueLeaders(season= '2021-22').league_leaders.get_data_frame()

In [10]:
data.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,...,284,737,72,7,303,128,2155,2066,2.43,0.24
1,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,...,392,374,68,24,181,178,2118,1961,2.07,0.38
2,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,...,796,284,77,99,214,181,2079,2304,1.33,0.36
3,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,...,609,334,75,49,217,174,2046,1971,1.54,0.35
4,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,...,1019,584,109,63,281,191,2004,2862,2.08,0.39
5,203507,6,Giannis Antetokounmpo,1610612749,MIL,67,2204,689,1245,0.553,...,778,388,72,91,219,212,2002,2343,1.77,0.33
6,1629029,7,Luka Doncic,1610612742,DAL,65,2301,641,1403,0.457,...,593,568,75,36,292,145,1847,1940,1.95,0.26
7,1626164,8,Devin Booker,1610612756,PHX,68,2345,662,1421,0.466,...,342,329,77,26,162,180,1822,1627,2.03,0.47
8,1626157,9,Karl-Anthony Towns,1610612750,MIN,74,2475,642,1214,0.529,...,727,269,72,83,226,267,1818,2088,1.19,0.32
9,1628378,10,Donovan Mitchell,1610612762,UTA,67,2266,617,1376,0.448,...,282,358,99,12,200,164,1733,1479,1.79,0.49

In [17]:
pd.set_option('display.max.columns',None)

In [24]:
eff = data.loc[:,:'EFF']

In [25]:
eff.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,233,610,0.382,500,553,0.904,50,234,284,737,72,7,303,128,2155,2066
1,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,50,142,0.352,520,593,0.877,56,336,392,374,68,24,181,178,2118,1961
2,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,93,251,0.371,654,803,0.814,146,650,796,284,77,99,214,181,2079,2304
3,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,230,651,0.353,400,469,0.853,85,524,609,334,75,49,217,174,2046,1971
4,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004,2862
5,203507,6,Giannis Antetokounmpo,1610612749,MIL,67,2204,689,1245,0.553,71,242,0.293,553,766,0.722,134,644,778,388,72,91,219,212,2002,2343
6,1629029,7,Luka Doncic,1610612742,DAL,65,2301,641,1403,0.457,201,569,0.353,364,489,0.744,56,537,593,568,75,36,292,145,1847,1940
7,1626164,8,Devin Booker,1610612756,PHX,68,2345,662,1421,0.466,183,478,0.383,315,363,0.868,45,297,342,329,77,26,162,180,1822,1627
8,1626157,9,Karl-Anthony Towns,1610612750,MIN,74,2475,642,1214,0.529,150,366,0.410,384,467,0.822,194,533,727,269,72,83,226,267,1818,2088
9,1628378,10,Donovan Mitchell,1610612762,UTA,67,2266,617,1376,0.448,232,654,0.355,267,313,0.853,55,227,282,358,99,12,200,164,1733,1479

In [26]:
data.columns

Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF',
       'AST_TOV', 'STL_TOV'],
      dtype='object')

In [33]:
data['PLAYER'].head(10)

0               Trae Young
1            DeMar DeRozan
2              Joel Embiid
3             Jayson Tatum
4             Nikola Jokic
5    Giannis Antetokounmpo
6              Luka Doncic
7             Devin Booker
8       Karl-Anthony Towns
9         Donovan Mitchell
Name: PLAYER, dtype: object

In [34]:
data.loc[0,:].head(10)

PLAYER_ID       1629027
RANK                  1
PLAYER       Trae Young
TEAM_ID      1610612737
TEAM                ATL
GP                   76
MIN                2652
FGM                 711
FGA                1544
FG_PCT             0.46
Name: 0, dtype: object

In [36]:
data['TEAM'].unique()

array(['ATL', 'CHI', 'PHI', 'BOS', 'DEN', 'MIL', 'DAL', 'PHX', 'MIN',
       'UTA', 'LAL', 'BKN', 'GSW', 'CHA', 'MEM', 'TOR', 'CLE', 'NYK',
       'SAS', 'OKC', 'NOP', 'SAC', 'MIA', 'DET', 'IND', 'LAC', 'HOU',
       'ORL', 'WAS', 'POR'], dtype=object)

In [38]:
gsw_df = data.loc[data['TEAM']=='GSW']
gsw_df.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
13,201939,14,Stephen Curry,1610612744,GSW,64,2211,535,1224,0.437,285,750,0.380,275,298,0.923,34,301,335,404,85,23,206,130,1630,1559,1.96,0.41
26,1629673,27,Jordan Poole,1610612744,GSW,76,2283,474,1058,0.448,211,580,0.364,246,266,0.925,34,226,260,304,60,23,187,206,1405,1261,1.63,0.32
48,203952,49,Andrew Wiggins,1610612744,GSW,73,2330,475,1019,0.466,157,399,0.393,149,235,0.634,85,240,325,161,76,51,111,158,1256,1128,1.45,0.69
164,1630228,165,Jonathan Kuminga,1610612744,GSW,70,1185,236,460,0.513,50,149,0.336,130,190,0.684,54,180,234,64,31,22,74,146,652,645,0.86,0.42
165,202691,165,Klay Thompson,1610612744,GSW,32,941,246,573,0.429,114,296,0.385,46,51,0.902,15,110,125,88,16,17,43,54,652,523,2.05,0.37
220,203490,221,Otto Porter Jr.,1610612744,GSW,63,1396,193,416,0.464,80,216,0.370,49,61,0.803,86,276,362,94,68,29,37,83,515,796,2.54,1.84
223,1627780,224,Gary Payton II,1610612744,GSW,71,1248,212,344,0.616,43,120,0.358,35,58,0.603,72,175,247,64,96,22,40,131,502,736,1.60,2.40
227,1626172,228,Kevon Looney,1610612744,GSW,82,1732,208,364,0.571,0,1,0.000,75,125,0.600,208,388,596,165,50,52,67,215,491,1081,2.46,0.75
237,1627814,238,Damion Lee,1610612744,GSW,63,1257,169,383,0.441,63,187,0.337,66,75,0.880,27,176,203,63,39,6,38,95,467,517,1.66,1.03
249,202357,250,Nemanja Bjelica,1610612744,GSW,71,1142,160,342,0.468,54,149,0.362,59,81,0.728,62,232,294,159,41,26,87,128,433,662,1.83,0.47

In [42]:
gsw_df.sort_values(by = 'MIN', ascending=False)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
48,203952,49,Andrew Wiggins,1610612744,GSW,73,2330,475,1019,0.466,157,399,0.393,149,235,0.634,85,240,325,161,76,51,111,158,1256,1128,1.45,0.69
26,1629673,27,Jordan Poole,1610612744,GSW,76,2283,474,1058,0.448,211,580,0.364,246,266,0.925,34,226,260,304,60,23,187,206,1405,1261,1.63,0.32
13,201939,14,Stephen Curry,1610612744,GSW,64,2211,535,1224,0.437,285,750,0.380,275,298,0.923,34,301,335,404,85,23,206,130,1630,1559,1.96,0.41
227,1626172,228,Kevon Looney,1610612744,GSW,82,1732,208,364,0.571,0,1,0.000,75,125,0.600,208,388,596,165,50,52,67,215,491,1081,2.46,0.75
220,203490,221,Otto Porter Jr.,1610612744,GSW,63,1396,193,416,0.464,80,216,0.370,49,61,0.803,86,276,362,94,68,29,37,83,515,796,2.54,1.84
282,203110,283,Draymond Green,1610612744,GSW,46,1329,135,257,0.525,16,54,0.296,60,91,0.659,45,291,336,320,61,50,139,136,346,821,2.30,0.44
237,1627814,238,Damion Lee,1610612744,GSW,63,1257,169,383,0.441,63,187,0.337,66,75,0.880,27,176,203,63,39,6,38,95,467,517,1.66,1.03
223,1627780,224,Gary Payton II,1610612744,GSW,71,1248,212,344,0.616,43,120,0.358,35,58,0.603,72,175,247,64,96,22,40,131,502,736,1.60,2.40
164,1630228,165,Jonathan Kuminga,1610612744,GSW,70,1185,236,460,0.513,50,149,0.336,130,190,0.684,54,180,234,64,31,22,74,146,652,645,0.86,0.42
249,202357,250,Nemanja Bjelica,1610612744,GSW,71,1142,160,342,0.468,54,149,0.362,59,81,0.728,62,232,294,159,41,26,87,128,433,662,1.83,0.47
312,1629308,313,Juan Toscano-Anderson,1610612744,GSW,73,994,115,235,0.489,28,87,0.322,40,70,0.571,28,148,176,127,48,17,68,115,298,448,1.87,0.71
165,202691,165,Klay Thompson,1610612744,GSW,32,941,246,573,0.429,114,296,0.385,46,51,0.902,15,110,125,88,16,17,43,54,652,523,2.05,0.37
342,1630541,343,Moses Moody,1610612744,GSW,52,607,80,183,0.437,40,110,0.364,28,36,0.778,17,63,80,23,7,10,13,43,228,224,1.77,0.54
409,2738,410,Andre Iguodala,1610612744,GSW,31,603,46,121,0.380,17,74,0.230,15,20,0.750,21,79,100,114,27,22,28,34,124,279,4.07,0.96
452,1629185,453,Chris Chiozza,1610612744,GSW,34,372,24,81,0.296,17,53,0.321,2,3,0.667,9,27,36,65,13,0,32,32,67,91,2.03,0.41
495,1629683,493,Quinndary Weatherspoon,1610612744,GSW,11,73,12,21,0.571,1,5,0.200,5,5,1.000,2,12,14,5,1,1,3,15,30,39,1.67,0.33

In [53]:
gsw_df['FG3M'].min()

0

In [55]:
data['TEAM'].value_counts()

OKC    26
DET    25
POR    24
WAS    23
MEM    22
BOS    22
PHX    22
CLE    22
ORL    21
MIA    21
NYK    21
ATL    21
DAL    21
LAL    21
SAC    20
DEN    20
IND    20
TOR    20
UTA    20
CHI    20
MIL    19
PHI    19
SAS    18
NOP    18
MIN    17
CHA    17
BKN    17
LAC    16
HOU    16
GSW    16
Name: TEAM, dtype: int64

In [57]:
data.groupby(['TEAM']).count()['PLAYER_ID']

TEAM
ATL    21
BKN    17
BOS    22
CHA    17
CHI    20
CLE    22
DAL    21
DEN    20
DET    25
GSW    16
HOU    16
IND    20
LAC    16
LAL    21
MEM    22
MIA    21
MIL    19
MIN    17
NOP    18
NYK    21
OKC    26
ORL    21
PHI    19
PHX    22
POR    24
SAC    20
SAS    18
TOR    20
UTA    20
WAS    23
Name: PLAYER_ID, dtype: int64

In [60]:
data.groupby('TEAM')['FG3M'].sum().sort_values(ascending=False)

TEAM
UTA    1228
MIN    1211
GSW    1176
LAC    1167
MIL    1152
CHA    1142
DAL    1139
NYK    1130
MIA    1129
DEN    1116
BOS    1054
HOU    1037
TOR    1036
IND    1019
PHX    1011
LAL    1010
ATL    1005
OKC     993
ORL     981
PHI     956
CLE     949
MEM     945
SAC     930
POR     907
NOP     885
BKN     876
DET     876
CHI     876
SAS     875
WAS     787
Name: FG3M, dtype: int64

In [61]:
gsw_df['PTSRANK'] = gsw_df['PTS'].rank(ascending=False)
gsw_df['PTSRANK']

<ipython-input-61-4b13463c0f3f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gsw_df['PTSRANK'] = gsw_df['PTS'].rank(ascending=False)

13      1.0
26      2.0
48      3.0
164     4.5
165     4.5
220     6.0
223     7.0
227     8.0
237     9.0
249    10.0
282    11.0
312    12.0
342    13.0
409    14.0
452    15.0
495    16.0
Name: PTSRANK, dtype: float64

In [62]:
gsw_df

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,PTSRANK
13,201939,14,Stephen Curry,1610612744,GSW,64,2211,535,1224,0.437,285,750,0.380,275,298,0.923,34,301,335,404,85,23,206,130,1630,1559,1.96,0.41,1.0
26,1629673,27,Jordan Poole,1610612744,GSW,76,2283,474,1058,0.448,211,580,0.364,246,266,0.925,34,226,260,304,60,23,187,206,1405,1261,1.63,0.32,2.0
48,203952,49,Andrew Wiggins,1610612744,GSW,73,2330,475,1019,0.466,157,399,0.393,149,235,0.634,85,240,325,161,76,51,111,158,1256,1128,1.45,0.69,3.0
164,1630228,165,Jonathan Kuminga,1610612744,GSW,70,1185,236,460,0.513,50,149,0.336,130,190,0.684,54,180,234,64,31,22,74,146,652,645,0.86,0.42,4.5
165,202691,165,Klay Thompson,1610612744,GSW,32,941,246,573,0.429,114,296,0.385,46,51,0.902,15,110,125,88,16,17,43,54,652,523,2.05,0.37,4.5
220,203490,221,Otto Porter Jr.,1610612744,GSW,63,1396,193,416,0.464,80,216,0.370,49,61,0.803,86,276,362,94,68,29,37,83,515,796,2.54,1.84,6.0
223,1627780,224,Gary Payton II,1610612744,GSW,71,1248,212,344,0.616,43,120,0.358,35,58,0.603,72,175,247,64,96,22,40,131,502,736,1.60,2.40,7.0
227,1626172,228,Kevon Looney,1610612744,GSW,82,1732,208,364,0.571,0,1,0.000,75,125,0.600,208,388,596,165,50,52,67,215,491,1081,2.46,0.75,8.0
237,1627814,238,Damion Lee,1610612744,GSW,63,1257,169,383,0.441,63,187,0.337,66,75,0.880,27,176,203,63,39,6,38,95,467,517,1.66,1.03,9.0
249,202357,250,Nemanja Bjelica,1610612744,GSW,71,1142,160,342,0.468,54,149,0.362,59,81,0.728,62,232,294,159,41,26,87,128,433,662,1.83,0.47,10.0
282,203110,283,Draymond Green,1610612744,GSW,46,1329,135,257,0.525,16,54,0.296,60,91,0.659,45,291,336,320,61,50,139,136,346,821,2.30,0.44,11.0
312,1629308,313,Juan Toscano-Anderson,1610612744,GSW,73,994,115,235,0.489,28,87,0.322,40,70,0.571,28,148,176,127,48,17,68,115,298,448,1.87,0.71,12.0
342,1630541,343,Moses Moody,1610612744,GSW,52,607,80,183,0.437,40,110,0.364,28,36,0.778,17,63,80,23,7,10,13,43,228,224,1.77,0.54,13.0
409,2738,410,Andre Iguodala,1610612744,GSW,31,603,46,121,0.380,17,74,0.230,15,20,0.750,21,79,100,114,27,22,28,34,124,279,4.07,0.96,14.0
452,1629185,453,Chris Chiozza,1610612744,GSW,34,372,24,81,0.296,17,53,0.321,2,3,0.667,9,27,36,65,13,0,32,32,67,91,2.03,0.41,15.0
495,1629683,493,Quinndary Weatherspoon,1610612744,GSW,11,73,12,21,0.571,1,5,0.200,5,5,1.000,2,12,14,5,1,1,3,15,30,39,1.67,0.33,16.0

In [77]:
gsw_df.loc[(gsw_df['GP']>70) & (gsw_df['FTM']>100)]

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,PTSRANK
26,1629673,27,Jordan Poole,1610612744,GSW,76,2283,474,1058,0.448,211,580,0.364,246,266,0.925,34,226,260,304,60,23,187,206,1405,1261,1.63,0.32,2.0
48,203952,49,Andrew Wiggins,1610612744,GSW,73,2330,475,1019,0.466,157,399,0.393,149,235,0.634,85,240,325,161,76,51,111,158,1256,1128,1.45,0.69,3.0